.footer-toolbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #1f232d;
  max-width: 428px;
}

.toolbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar-item img {
  width: 30px;
  height: 30px;
}

.toolbar-item span {
  font-size: 0.8rem;
  margin-top: 5px;
  color: #aaa;
}