.profile-card .edit-button,
.profile-card .delete-button {
  pointer-events: auto;
  z-index: 1;
}
.profile-selector {
  display: block;
  align-items: center;
  background-color: #121212;
  color: white;
  height: 100vh;
  padding: 20px;
}

.profile-header {
  display: block; /* flex 대신 block으로 설정 */
  text-align: center; /* 텍스트 중앙 정렬 */
  margin-bottom: 30px; 
}

.profile-header h2,
.profile-header p {
  margin: 0; /* 기본 여백 제거 */
  padding: 10px 20px 10px; /* 적절한 여백 추가 */
}

p.profile-name {
  width: 100px; /* 너비 고정 */
  height: 40px; /* 높이 고정 */
  line-height: 40px; /* 텍스트 수직 중앙 정렬 */
  text-align: center; /* 텍스트 수평 중앙 정렬 */
  margin: 0; /* 여백 제거 */
  font-size: 16px; /* 폰트 크기 */
  overflow: hidden; /* 내용이 넘칠 경우 숨기기 */
  text-overflow: ellipsis; /* 내용이 넘칠 때 말줄임표(...) 추가 */
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  color: #fff; /* 텍스트 색상 */
  border-radius: 5px; /* 둥근 테두리 */
}

.profile-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 70px, 70px, 70px;

}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8b8b8b;
  border-radius: 10px;
  padding: 10px; 
  width: 80px;
  cursor: pointer;
  position: relative;
}

.profile-card .profile-actions {
  display: flex;
  width: 100px;
  justify-content: center;


}

.profile-card .edit-button,
.profile-card .delete-button {
  padding: 5px;
  font-size: 12px;
  background-color: #444;
  color: bisque;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-card .edit-button:hover {
  background-color: #007bff;
}

.profile-card .delete-button:hover {
  background-color: #ff4d4d;
}

.profile-card .edit-input {
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 80%;
}

.profile-card .save-button {
  padding: 5px;
  font-size: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-card .save-button:hover {
  background-color: #218838;
}

.add-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 20%;
  background-color: #444;
  font-size: 30px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-profile:hover {
  background-color: #555;
}

.profile-card .profile-image {
  width: 80px; 
  height: 80px; 
  border-radius: 50%; 
  margin-top : 10px;
  margin-bottom: 10px; 
  object-fit: cover; 
}

